# Ignorar archivos de entorno con secretos
.env

# Ignorar node_modules si usas Node.js
/node_modules
Api/ca.pem

# Ignorar archivo .pem con certificado
Api/c/ca-from-env.pem

# Ignorar archivos de logs
*.log

# Ignorar carpetas o archivos temporales
.DS_Store
dist/
build/
